body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.start{
    background-image:linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../assets/index/pexels-photo-262508.jpeg");
    background-size: cover;
    background-position: center;
    text-align: center;

}

.start h1{
    color:#e2adfd ;
    padding-top: 8%;
    font-size: 12vh;
}
.start p{
    color: #fff;
}

.start hr{
  width: 15%;
}
.card{
    background-color: black;
    margin: 5vh 1vw;
    min-height: max-content;
}
.card h3,p{
    color: #fff;
    margin: 5vh 0;
    
}
.card img{
    height: 35%;
}
.card-img-top{
    object-fit: cover;
}
/* button{
    background-color: #a56cc1;
    color: #CEFFF1;
    border-radius: 6px;
    padding: 5px 5px;
    margin-bottom: 10vh;
    justify-content: center;
    transition: all 4s;
}
button:hover{
    background-color: transparent;
    outline-color: #a56cc1;
    color: #fff;
    border: 2px solid #a56cc1;
} */

